{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RecipieBook</title>
	<link rel="stylesheet" href="{% static 'recipies/normal.css' %}">
	<link rel="stylesheet" href="{% static 'recipies/style.css' %' %}">
</head>
<body>
	<h1>Rezepte</h1>
	<div class="nav">
		<ul>
			{% for recipieitem in recipies %}
			<li><a href='{% url 'recipie' recipieitem.id %}'>{{ recipieitem.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% if recipie %}
	<div class="wrapper">
		<h2>{{recipie.name}}</h2>
		<div class="left">
			{% if recipie.amount %}
				Für {{ recipie.amount }} Personen
			{% endif %}
			{% for itemlist in recipie.itemlist_set.all %}
			<h3>{{ itemlist.name }}</h3>
			<ul>
				{% for item in itemlist.item_set.all %}
				<li>{{ item.name }}</li>
				{% endfor %}
			</ul>
			{% endfor %}
			</div>
			<div class="right boxed">
				<h3>Einkaufszeddele</h3>
				<ul>
					{% for item in recipie.shoppingitem_set.all %}
					<li>{{ item.name }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% endif %}
</body>
</html>
