body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	margin: 0; 
	padding: 0;
	background-position: center top;
	background-repeat: no-repeat;
}

#container {
	position: relative;
    width: 975px;
    margin-left: 0;
}