body {
    font-size: 9pt;
    font-family: "universlt55", Verdana, serif;
    webkit-print-color-adjust: exact;
}

.nav {
    position: relative;
    float: left;
    padding-right: 5mm;
}

.wrapper {
    height: 277mm;
    width: 190mm;
    border: 1px solid black;
    margin-left: 5mm;
    position: relative;
    float: left;
}

h1, h2, h3 {
    font-family: "agilohandwriting", Verdana, serif;
}

h1, h2 {
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10mm 0 9mm 0;
    font-size: 30pt;
}

h2 {
    margin: 15mm 0 0 0;
}

h3 {
    color: black;
    font-size: 14pt;
}

@font-face {
    font-family: "agilohandwriting";
    src: url(fonts/agilohandwriting.ttf) format("truetype");
}

@font-face {
    font-family: "universlt55";
    src: url(fonts/universltstd.otf) format("opentype");
}

.left, .right {
    position: relative;
    float: left;
    overflow: hidden;
}

.left {
    width: 50%;
    padding: 4mm 10mm 0 10mm;
}

.right {
    width: 33%;
    margin: 4mm 10mm 0 0;
}

.right h3 {
    padding: 0 5mm 0 5mm;
}

.boxed {
    border: 0.5mm solid black;
}
