{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prb</title>
    <link rel="stylesheet" href="{% static 'recipies/normal.css' %}">
    <link rel="stylesheet" href="{% static 'recipies/style.css' %' %}">
</head>
<body>
    <div id="wrapper">
    <h1>{{recipie.name}}</h1>
        <div id="linkespalte">
		{% if recipie.amount %}
			Für {{ recipie.amount }} Personen
		{% endif %}
		{% for itemlist in recipie.itemlist_set.all %}
		<h2>{{ itemlist.name }}</h2>
		<ul>
			{% for item in itemlist.item_set.all %}
			<li>{{ item.name }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
        </div>
        <div id="rechtespalte">
            <div id="zettelkasten">
                <h2>Einkaufszeddele</h2>
		<ul>
			{% for item in recipie.shoppingitem_set.all %}
			<li>{{ item.name }}</li>
			{% endfor %}
		</ul>
            </div>
        </div>
    </div>
</body>
</html>
