{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prb</title>
    <link rel="stylesheet" href="{% static 'recipies/normal.css' %}">
    <link rel="stylesheet" href="{% static 'recipies/style.css' %' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Leggeres Fraisen</h1>
        <div id="linkespalte">
            <h4>Zubereitung</h4>
            Für 4 Portionen
        <ul>
            <li>1000 Erdbeeren</li>
            <li>0 Kohl</li>
        </ul>
        </div>
        <div id="rechtespalte">
            <div id="zettelkasten">
                <h4>Einkaufszeddele</h4>
            </div>
        </div>
    </div>
</body>
</html>
